.search-item__entity {
  padding: .5em 1em;
  height: 2em;
  cursor: pointer;
}

.search-item__entity:last-child {
  border-radius: 0 0  .2em .2em;
}

.search-item__entity:hover {
  background-color: var(--dark-mode-tertiary);
}

.search-item__entity-tag {
  color: var(--pure-black);
  margin-right: .5em;
  border: none;
  padding: .5em;
  border-radius: 2em;
  background-color: var(--pure-white);
  font-size: .8em;
}

.search-item__entity-name {
  font-size: 1.2em;
}
