 #search-result__list {
  width: 50vw;
  display: flex;
  flex-flow: column;
  list-style-type: none;
  color: var(--pure-white);
  padding: 0;
  margin: 0;
  background-color: var(--dark-mode-secondary);
  border-radius: 0 0  .2em .2em;
 }

 #search-result__loading-text {
  align-self: center;
  height: 2em;
  padding: 1em;
 }
