#site-banner {
  width: 45vw;
  margin-bottom: 2em;
}

#search__search-form {
  display: flex;
  flex-flow: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: relative;
}

#search__search-box {
  box-sizing: border-box;
  width: 50vw;
  border: none;
  border-radius: .2em;
  height: 40px;
  padding: 0 1rem;
  font-size: 1.2em;
  background-color: var(--secondary-colour);
  color: var(--pure-black);
  caret-color: var(--primary-colour);
}

#search__search-box.has-data {
  border-radius: .2em .2em 0 0;
  border-bottom: 1px solid var(--shadow);
  filter: drop-shadow(0 0 .5rem var(--secondary-colour));
}

#search__search-box:focus-visible {
  outline: none;
  filter: drop-shadow(0 0 .5rem var(--secondary-colour));
}

@media (max-width: 600px) {
  #site-banner {
    width: 75vw;
    margin-bottom: 2.5em;
  }

  #search__search-box {
    box-sizing: border-box;
    width: 85vw;
    padding: 0 1rem;
    font-size: 1.2em;
  }
}
