.react-flow__handle {
  opacity: 0;
}

.react-flow__edge-txtbg {
  fill: var(--dark-mode-primary);
}

.react-flow__entity-name {
  max-width: 50px;
  max-height: 50px;
  text-wrap: wrap;
  font-size: .4em;
  font-weight: 500;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--dark-mode-primary);
}
