#entity-details {
  box-sizing: border-box;
  height: 80vh;
  width: 400px;
  padding: 2em 1em 2em 1em;
  background-color: var(--pure-white);
  position: absolute;
  top: 10vh;
  left: 4em;
  border: none;
  border-radius: 1em;
  z-index: 100;
  filter: drop-shadow(0 0 .5em var(--shadow));
}

#entity-details__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8ex;
  font-weight: 500;
}

#entity-details__top-section {
  display: flex;
  flex-flow: column;
  gap: .5em;
}

#entity-details__entity-label {
  font-size: 1.5ex;
  margin: 0;
  padding: .2em .8em;
  width: fit-content;
  text-align: center;
  background-color: var(--secondary-colour);
  border-radius: 2em;
  font-weight: 600;
}

#entity-details__entity-name {
  font-size: 2.5ex;
  font-weight: 500;
  margin: 0;

}

#entity-details__hr {
  background: rgba(0, 0, 0, 50%);
  border: none;
  height: 1px;
  opacity: .5;
}

#entity-details__button-tab {
  display: flex;
  border-bottom: 1px solid var(--shadow);
  margin-bottom: 1em;
}

.button-tab__button {
  display: flex;
  flex-flow: column;
  background: none;
  cursor: pointer;
  width: 50%;
  margin: 0 1em;
  font-size: 2ex;
  border-width: 0;
  font-weight: 500;
}

.button-tab__button-label {
  margin-bottom: .2em;
}

.button-tab__underline {
  position: relative;
  top: 1px;
  width: 100%;
  height: .2em;
  visibility: hidden;
  background: rgba(0, 0, 0, 25%);
  border-top-right-radius: 2.5px;
  border-top-left-radius: 2.5px;
}

.button-tab__button:hover .button-tab__underline {
  visibility: visible;
}

.button-tab__button.active .button-tab__underline {
  visibility: visible;
  background: var(--primary-colour);
}

#entity-details__properties {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.entity-details__properties-item {
  display: flex;
  overflow-wrap: break-word;
}

.properties-item__label {
  width: 35%;
  margin: 0;
  box-sizing: border-box;
  padding-right: .5em;
}

.properties-item__content {
  margin: 0;
  width: 65%;
  font-weight: 500;
  text-align: justify;
}


@media (max-width: 600px) {

  #entity-details {
    height: 90vh;
    width: 90vw;
    top: 5vh;
    left: 5vw;
    padding: 35px 10px 10px 10px;
  }
}
