.card {
  width: 200px;
  background-color: #FFF7F1;
  border-radius: 1em;
  padding: 1em;
}

.entity-name {
  color: #000000;
  font-weight: bold;
}

.entity-tag {
  font-size: .5em;
  border-radius: 1em;
  background-color: #FA7070;
}
