#search-form {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#search-box {
  box-sizing: border-box;
  width: 50vw;
  border: none;
  border-radius: .2em;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1.2em;
  background-color: var(--dark-mode-secondary);
  color: var(--pure-white);
  caret-color: var(--primary-colour);
  border-bottom: var(--dark-mode-primary) 1px solid;
}

#search-box.has-data {
  border-radius: .2em .2em 0 0;
}

#search-box:focus-visible {
  outline: none;
}

#search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0 .2rem .2rem 0;
  height: 2.5rem;
  width: 40px;
  padding: 0;
  background-color: var(--dark-mode-secondary);
  stroke: var(--light-grey);
}

#search-btn.active {
  cursor: pointer;
  background-color: var(--secondary-colour);
  stroke: var(--dark-mode-secondary);
}

#search-btn.active:hover {
  background-color: #CE7B00;
}
