:root {
  --primary-colour: #B80000;
  --secondary-colour: #FF9800;
  --tertiary-colour: #F3EEEA;
  --error-primary: #CD1818;
  --light-grey: #DDDDDD;
  --pure-black: #000;
  --pure-white: #FFF;
  --dark-mode-primary: #191919;
  --dark-mode-secondary: #31363F;
}

.App {
  /* text-align: center; */
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-mode-primary);
}

