:root {
  --primary-color: #B80000;
  --secondary-color: #FF9800;
  --tertiary-color: #F3EEEA;
  --error-color: #CD1818;
  --light-grey: #DDDDDD;
  --pure-black: #000;
  --pure-white: #FFF;
}

.App {
  /* text-align: center; */
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #31363F;
}

